@import '../../../styles/default';

$color: #0079bf;

.root {
  width: 272px;
  background-color: $section_bg_color;
  border-radius: 8px;
  max-height: 88px;

  .add_section {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: $default_padding;
    min-height: 30px;
    font-family: $default_font;

    &:hover {
      background-color: darken($section_bg_color, 10%);
      border-radius: 8px;
    }
  }

  .container {
    padding: $default_padding;

    input {
      width: 100%;
      height: 30px;
      border: 2px solid $color;
      border-radius: 4px;
      outline: none;

      &:focus {
        border-color: darken($color, 10%);
      }
    }

    .bts {
      display: flex;
      flex-flow: row;
      width: auto;
      margin-top: 10px;
      justify-content: space-between;

      button {
        border: none;
      }

      .add_section_bt {
        background-color: $color;
        color: white;
        border-radius: 4px;
        width: 120px;
        height: 30px;

        &:hover {
          background-color: darken($color, 10%);
        }
      }
    }
  }
}
