@import "../../../styles/default";

.root {
  width: 272px;
  background-color: $section_bg_color;
  border-radius: 8px;
  margin: 0 20px;
  padding: $default_padding;
  font-family: $default_font;

}




