@import '../../../styles/default';

$blue: #87ceeb;
$plum: #dda0dd;
$brown: #fff8dc;
$gray: #dcdcdc;

.root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  .modal_container {
    background-color: white;
    width: 30%;
    height: 25%;
    border-radius: $border_radius;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    color: $font_color;
    font-family: $default_font;
    padding: 20px;
    .header {
      margin-bottom: 20px;
      .cardName {
        font-size: 24px;
        font-weight: 600;
      }
      .column {
        color: #232d5296;
        span {
          text-decoration-line: underline;
        }
      }
    }

    .desc {
      .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      textarea {
        border: none;
        border-radius: 8px;
        resize: none;
        width: 100%;
        outline: none;
        background-color: $section_bg_color;
        font-family: $default_font;
        padding: 10px;
        margin-bottom: 20px;
        &:focus {
          border: 1px solid gray;
        }
      }
    }
  }
}
