@import '../../../styles/default';

.root {
  background-color: white;
  border-radius: $border_radius;
  padding: $default_padding;
  box-shadow: $box_shadow;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;

  .remove_btn {
    visibility: hidden;
  }

  &:hover {
    background-color: darken(white, 10%);
    .remove_btn {
      visibility: visible;
    }
  }

  .modal_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
}
